{% extends "base.html.twig" %}

{% block title %}TheDistrict - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4 ">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur TheDistrict</h1>
			
			<hr class="my-4">
			<p>Rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lgz" href="{{ path('security.registration') }}" role="button">Inscription</a>
		</div>

		<div class="categorys">
			<h2 class="mt-4">Categories</h2>
			<div class="d-flex justify-content-between mt-4">
				{% for category in categorys %}
					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<div class="card-header">categorie n°{{ category.id }}</div>
						<div class="card-body">
							<h4 class="card-title">
								<a href="{{ path('flat.index', {id: category.id}) }}">{{ category.name }}</a>
							</h4>
							<p class="card-text">{{ category.active }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="flats">
			<h2 class="mt-4">Plats</h2>
			<div class="d-flex justify-content-between mt-4">
				{% for flat in flats %}
					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<div class="card-header">plat n°{{ flat.id }}</div>
						<div class="card-body">
							<h4 class="card-title">
								<a href="{{ path('flat.show', {id: flat.id}) }}">{{ flat.name }}</a>
							</h4>
							<p class="card-text">{{ flat.description|slice(0, 100) ~ '...' }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}


