{% extends "base.html.twig" %}

{% block title %}
	TheDistrict-Accueil
{% endblock %}

{% block body %}
		<div class="container mt-4">
		<h2>Catégories</h2>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Numéro</th>
					<th scope="col">Nom</th>
					<th scope="col">active</th>
				</tr>
			</thead>
			<tbody>
					{% for category in categorys %}
					<tr class="table-primary">
						<th scope="row ">{{ category.id }}</th>
						<td>{{ category.name }}</td>
						<td>{{ category.active }}</td>
						<td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>Plats</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Numéro</th>
					<th scope="col">Nom</th>
					<th scope="col">Description</th>
					<th scope="col">prix</th>
					<th scope="col">active</th>
					<th scope="col">categorie</th>
				</tr>
			</thead>
		<tbody>
				{% for flat in flats %}
					<tr class="table-primary">
						<th scope="row">{{ flat.id }}</th>
						<td>{{ flat.name }}</td>
						<td>{{ flat.description }}</td>
						<td>{{ flat.price }}</td>
						<td>{{ flat.active }}</td>
						<td>{{ flat.category }}</td>
					</tr>
				{% endfor %}
			</tbody>
	</div>


{% endblock %}

