{% extends "base.html.twig" %}

{% block title %}TheDistrict - Nouvelle categorie
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Création d'une categorie</h1>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.active) }}
			{{ form_widget(form.active) }}
			<div class="form-error">
				{{ form_errors(form.active) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.imageFile) }}
			{{ form_widget(form.imageFile) }}
			<div class="form-error">
				{{ form_errors(form.imageFile) }}
			</div>
		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
