{% extends 'base.html.twig' %}

{% block title %}TheDistrict - Plats
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% if not flats.items is same as([]) %}
			<h1>Mes Plats</h1>

			<a href="{{ path('flat.new') }}" class="btn btn-primary">
				Créer un plat
			</a>

			<div class="count mt-4">Il y a
				{{ flats.getTotalItemCount }}
				plat(s)
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Numéro</th>
						<th scope="col">Nom</th>
						<th scope="col">prix</th>
						<th scope="col">Description</th>
						<th scope="col">image</th>
						<th scope="col">active</th>
						<th scope="col">categorie</th>
						<th scope="col">Modifier</th>
						<th scope="col">Supprimer</th>
						<th scope="col">Panier </th>
					</tr>
				</thead>
				<tbody>
					{% for flat in flats %}
						<tr class="table-primary">
							<th scope="row">{{ flat.id }}</th>
							<td>{{ flat.name }}</td>
							<td>{{ flat.price }}</td>
							<td>{{ flat.description }}</td>
							<td>{{ flat.imageFile }}</td>
							<td>{{ flat.active }}</td>
							<td>{{ flat.category }}</td>
							
							<td>
								<a href="{{ path('flat.edit', { id: flat.id }) }}" class="btn btn-info">Modifier</a>
							</td>
							<td>
								<a href="{{ path('flat.delete', { id: flat.id }) }}" class="btn btn-warning">Supprimer</a>
							</td>
							<td>
							<a href="{{path("add", {id: flat.id})}}" class="btn btn-success">
                        <i class="bi bi-cart-plus"></i> Ajouter
                    </a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(flats) }}
			</div>
		{% else %}
			<h4>Il n'y a pas de plat</h4>

			<a href="{{ path('flat.new') }}" class="btn btn-primary">
				Créer un plat
			</a>
		{% endif %}
	</div>
{% endblock %}

